table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}
div {
    margin: 10px 0px 10px 0px;
}

div label {
    display: block;
    text-align: left;
    margin: 3px;
}

div input, select {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

h1, h2 {
    text-align: center;
}

.btn{
    text-decoration-line: none;
}

a:visited{
    color: blue;
}

button{
    color: blue;
    cursor: pointer;
}

.align_right{
    float: right;
}

.form {
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
